.vh-99 {
    height: 99vh !important;
}

.w-30 {
    width: 30% !important;
}

.w-80 {
    width: 80% !important;
}

.pl-30px {
    padding-left: 30px !important;
};

.m-10px {
    margin: 10px !important;
}

.my-03 {
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
}
